<div class="valign-wrapper" id="preloader">
  <div class="main-wrapper">
    <div class="valign center-block" id="staticImage">
      <img class="center-block" src="images/post-loader.png">
    </div>
    <div class="valign progress">
       <div class="valign indeterminate"></div>
    </div>
    <div class="valign" id="dynamicText">
       <h1 class="center-align" id="loadText">Cargando ...</h1>
    </div>
  </div>
</div> <!-- #preloader -->
