<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- pageTitle -%></title>
  <link rel="icon" href="/images/positive_logo.ico">
  <!-- +++++++++++++++++++++++++++
  +            STYLES            +
  +++++++++++++++++++++++++++++-->
  <link rel="stylesheet" href="./bower_components/materialize/dist/css/materialize.css"> <!-- Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Materialize Icons -->
  <link rel="stylesheet/less" href="/less/404.less">
  <!-- +++++++++++++++++++++++++++
  +           Scripts            +
  +++++++++++++++++++++++++++++-->
  <script src="./bower_components/jquery/dist/jquery.js" charset="utf-8"></script> <!-- JQuery -->
  <script type="text/javascript" src="./bower_components/materialize/dist/js/materialize.js"></script>  <!-- Materialize -->
</head>
<body>
  <div id="main">
    <h1>OOOOPS :(</h1>
    <span>Esta página no existe pero ve por aquí.</span>
    <a href="/home" class="btn z-depth-0">Ir a mi cuenta</a>
  </div>
  <script src="./bower_components/less/dist/less.js" charset="utf-8"></script> <!-- Less -->
</body>
</html>
