<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- pageTitle %></title>
  <link rel="icon" href="/images/positive_logo.ico">
  <!-- +++++++++++++++++++++++++++
  +            STYLES            +
  +++++++++++++++++++++++++++++-->
  <link rel="stylesheet" href="./bower_components/materialize/dist/css/materialize.css"> <!-- Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Materialize Icons -->
  <link rel="stylesheet/less" href="/less/home.less">
  <!-- +++++++++++++++++++++++++++
  +           Scripts            +
  +++++++++++++++++++++++++++++-->
  <script src="./bower_components/jquery/dist/jquery.js" charset="utf-8"></script> <!-- JQuery -->
  <script src="./bower_components/dustjs-linkedin/dist/dust-full.js" charset="utf-8"></script> <!-- dustjs -->
  <script type="text/javascript" src="./bower_components/materialize/dist/js/materialize.js"></script>  <!-- Materialize -->
  <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script> <!-- Firebase -->
  <script src="./js/appConfig.js" charset="utf-8"></script>  <!-- Configuarción general de la aplicación -->
</head>
<body>
  <%- defineContent('context') -%>
  <script src="./bower_components/less/dist/less.js" charset="utf-8"></script> <!-- Less -->
</body>
</html>
