<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> <%- pageTitle %> </title>
  <link rel="icon" href="/images/positive_logo.ico">
  <!-- +++++++++++++++++++++++++++
  +            STYLES            +
  +++++++++++++++++++++++++++++-->
  <link rel="stylesheet" href="./bower_components/materialize/dist/css/materialize.css"> <!-- Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Materialize Icons -->
  <link rel="stylesheet/less" href="/less/home.less">
  <!-- +++++++++++++++++++++++++++
  +           Scripts            +
  +++++++++++++++++++++++++++++-->
  <script src="./bower_components/jquery/dist/jquery.js" charset="utf-8"></script> <!-- JQuery -->
  <script src="./bower_components/dustjs-linkedin/dist/dust-full.js" charset="utf-8"></script> <!-- dustjs -->
  <script type="text/javascript" src="./bower_components/materialize/dist/js/materialize.js"></script>  <!-- Materialize -->
  <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script> <!-- Firebase -->
  <script src="./js/appConfig.js" charset="utf-8"></script>  <!-- Configuarción general de la aplicación -->
</head>
<body>

  <% include partials/loader %>
  <!-- Barra lateral -->
  <div class="container" id="rendered-sidebar"></div>

  <!-- Barra arriba -->
  <div class="container" id="main-wrapper">
    <div id="top-navbar">
      <nav class="z-depth-0">
        <div class="nav-wrapper">
          <ul class="right">
            <a class='dropdown-button btn z-depth-0' id="nav-app" href='/app' target="_blank">GCP-APP<i class="material-icons right">get_app</i></a>
            <a class='dropdown-button btn z-depth-0' id="nav-guias" href='#' data-activates='guide-download'>Guías <i class="material-icons right">keyboard_arrow_down</i></a>
            <a href="#!" class="btn z-depth-0" id="kickout"><i class="material-icons left">close</i>Cerrar sesión</a>
          </ul>
          <ul class="left">
            <li><a href="#!" data-activates="barra-lateral" class="active-sidebar waves-effect waves-light" id="left-activator"><i class="material-icons">menu</i></a></li>
            <li><a href="/home" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicio"><i class="material-icons">home</i> </a></li>
            <li class="text-navigation"><%- renderPath -%></li>
          </ul> <!-- ./Right -->
          <ul id='guide-download' class='dropdown-content'>
            <li><a href="/guides/resproc" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Descargar guía.">Resumen de procedimientos </a></li>
            <!-- <li><a href="#!">Guía </a></li>
            <li class="divider"></li>
            <li><a href="#!">Guía </a></li> -->
          </ul>
        </div> <!-- ./nav-wrapper -->
      </nav> <!-- nav -->
    </div> <!-- /#top-navbar -->
  </div> <!-- /#main-wrapper -->

  <%- defineContent('context') -%>

  <script>
    less = {
      env: "production",
      logLevel: 0,
    };
  </script>
  <script src="./js/home.js" charset="utf-8"></script> <!-- Script todo -->
  <script src="./js/templates/sidebar.js" charset="utf-8"></script> <!-- Script render barra lateral -->
  <script src="./bower_components/less/dist/less.js" charset="utf-8"></script> <!-- Less -->
</body>
</html>
