<%- contentFor('context'); %>
<!-- Aquí va todo lo que renderiza desde el inicio -->
<div class="main-wrapper">

      <div class="col s12 m12 l12" id="register-space">
      <!-- <div class="row" id="information">
        <h3 class="center-align">Iniciar sesión</h3>
        <h6 class="center-align"><strong>GCP</strong> un servicio de
          <div class="chip center-align">
            <a href="http://www.positivecompliance.com" target="_blank" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Ir a sitio web."><strong>Positive</strong> compliance</a>
          </div>
        </h6>
      </div> -->

        <div class="row" id="information">
          <img class="center valign" src="images/loader.png" alt="Logo-positive">
          <h3 class="center-align">Iniciar sesión</h3>
        </div>

        <div class="row" id="register">

          <div class="input-field" id="email">
            <input id="email-input" type="email" class="validate">
            <label for="email" data-error="Intenta escribiendo un dominio válido." data-success="Excelente.">Correo electrónico</label>
          </div> <!-- /#email -->

          <div class="input-field" id="password">
            <input id="passwd-input" type="password" class="validate">
            <label for="passwd">Contraseña</label>
          </div> <!-- /#password -->

          <div id="send">
            <button class="btn z-depth-0 waves-effect hoverable" name="login-button" id="login-request">Entrar
            </button>
          </div> <!-- ./send -->


          <div class="row" id="last-options">
            <div class="chip forget-pass">
              <a href="#password-recover" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Correo con la información para reestablecer contraseña." id="password-forget">Contraseña olvidada.</a>
            </div>
            <div class="chip register-form">
              <a href="/register" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Solicitud de registro en GCP." id="regbtn">
                Registro.
              </a>
            </div>
          </div> <!-- ./last-options -->

          </div> <!-- ./register -->
        </div> <!-- ./register -->
      </div> <!-- /#register-space -->
    </div> <!-- /.row -->
  </div> <!-- ./main-wrapper -->

  <!-- Recuperación de contraseña -->
  <div id="password-recover" class="modal">
    <div class="modal-content">
      <h4>Recuperación de contraseña.</h4>
      <p>Ingresa tu cuenta de correo asociada con nosotros y a la brevedad se enviará un mensaje para que puedas tus datos.
      <br><strong>Una vez solicitado este cambio no puede deshacerse.</strong></p>
      <br>
      <div class="input-field" id="email-recovery">
        <i class="material-icons prefix">email</i>
        <input id="email-input-recovery" type="email" class="validate">
        <label for="email-input-recovery" data-error="Intenta escribiendo un dominio válido." data-success="Excelente.">Correo electrónico</label>
      </div> <!-- /#email -->
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action waves-effect waves-green btn-flat" id="recovery-request">Acepto</a>
    </div>   </div> <!-- /.modal-footer -->
  </div> <!-- /.modal -->

  <script src="./js/login.js" charset="utf-8"></script> <!-- Script principal -->
