
<%- contentFor('space'); %>

    <div class="container col s12">
      <h2 class="center">Personas</h2>
      <p class="center">Las personas son todos aquellos empleados que quieran ser evaluados con el sistema GCP. Aqui solo podrás encontrar informacion de la personas para modificarla, o bien dar de alta nuevas personas, es importante mencionar que esta ultima algún costo.</p>
    </div>
    <div class="container col s12">
      <div class="input-field col s12">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </div>
    <br>
    <div class="container col s12">
      <div class="collection" id="content-wrapper"></div>
    </div>

<%- contentFor('space_butt'); %>

    <ul>
      <li><a class="btn-floating red darken-2 btn tooltipped" data-position="left" data-delay="50" data-tooltip="Alta de Personas" id="altas"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating blue darken-1 btn tooltipped" data-position="left" data-delay="50" data-tooltip="Alta desde CSV" id="massive"><i class="material-icons">description</i></a></li>
    </ul>

<%- contentFor('space_scr'); %>

    <!-- Cargar archivos de funcionamiento individual en caso de que quiera hacer ma cambios-->

    <script src="./js/templates/person.js" charset="utf-8"></script>
    <script src="./js/people.js" charset="utf-8"></script>
