.alignElement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fix-fixed {
  padding-left: 250px;
}
#main-wrapper {
  height: auto;
  width: 100%;
  margin: 0;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navigation {
  background-color: #1f1f1f !important;
  color: #fff !important;
}
.navigation .side-nav {
  background-color: #1f1f1f;
  color: #fff;
}
.navigation .side-nav .userView {
  max-width: 100%;
  margin: 0 !important;
  background-color: #1f1f1f;
  color: #fff;
}
.navigation .side-nav .userView img {
  width: 150px;
  height: 150px;
  margin-left: calc(15%);
  margin-left: -webkit-calc(15%);
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
}
.navigation .side-nav .userView h5 {
  font-size: 18px;
  font-weight: 600;
  color: #fff !important;
  line-height: 0.8em;
}

.navigation{
  .side-nav{
    .userView{
      .name, .email, p{
        margin: 0;
        line-height: 0.5em;
      }
    }
  }
}
.navigation .side-nav .userView .email {
  font-size: 12px;
  margin-top: 15px;
}
.navigation .side-nav .userView p{
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2em;
}
.navigation .side-nav .divider {
  margin-bottom: 20px;
  background-color: #383838;
}
.navigation .collapsible{
  .waves-effect.waves-blue .waves-ripple {
    background-color: rgba(47, 118, 255, 0.9);
  }

  .collapsible-header{
    background: #1f1f1f;
    color: #fff;
    padding: 0 15px !important;
    i{
      color: #fff;
      padding: 0 20px 0 20px !important;
    }
  }
  .collapsible-body{
    background: #2e2e2e;
    padding: 0px !important;
    a{
      i{
        padding: 0 20px 0 20px;
        color: #fff;
      }
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      // Para poner margen izquierdo
    }
    a:hover {
      background-color: #373737;
      border-left: 10px solid #2f76ff !important;
    }
  }
}

#top-navbar nav {
  background-color: #373737;
}
#top-navbar #left-activator {
  background-color: #2f76ff;
}
#top-navbar #left-activator:hover {
  background-color: #0056fb;
}
#top-navbar .brand-logo {
  font-size: 18px;
  font-weight: 300;
  padding: 0px 20px 0px 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0;
}
#top-navbar .right {
  right: 0 !important;
}
#top-navbar .brand-logo:hover {
  background-color: #2a2a2a;
}
#top-navbar .text-navigation {
  font-size: 16px;
  font-weight: 300;
  width: auto;
}
.active-sidebar {
  background-color: #2f76ff;
}
.active-sidebar:hover {
  background-color: #0044c8;
}
