body,
.main-wrapper {
  min-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
}
.alignElement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gbTransition( @time ){
  -webkit-transition: all @time ease;
  -moz-transition: all @time ease;
  -o-transition: all @time ease;
  transition: all @time ease;
}
#image-roller {
  height: 100vh;
  background-image: url('../images/bg-login.jpg');
  background-position: center;
  background-size: cover;
}
#image-roller blockquote {
  color: #d0d0d0;
  position: absolute;
  width: 25% !important;
  bottom: 0;
  margin: 0px 0px 40px 40px;
  border-left: 5px solid #acacac !important;
}
#register-space {
  max-width: 100%;
}
#register-space #information {
  color: #444444;
  padding: 30px;
  h3,h6{
    font-variant: small-caps;
  }
}
#register-space #information h3 {
  font-size: 60px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 100px;
}
#register-space #information h6 {
  font-size: 17px;
  font-weight: 400;
}
#register-space #information .chip {
  border: 2px solid #ff4f57;
  background: transparent !important;
  height: 35px;
  .gbTransition( 0.3s );
}
#register-space #information .chip a {
  color: #ff4f57;
}
#register-space #information .chip:hover {
  background: #ff4f57 !important;
  a{
    color: #fff;
  }
}
#register-space #register {
  width: 50%; // En caso de querer que esté enmedio y pequeño
  padding: 0px 60px 0px 60px;
  label{
    font-variant: small-caps;
  }
}
#register-space #register #email .active,
#register-space #register #password .active,
#password-recover #email-recovery .active {
  color: #282828;
}
#register-space{
  #register #email, #password{
    #email-input, label{
      font-weight: 300;
    }
  }
}
// Todos los input
#register-space #register #email input:focus,
#register-space #register #password input:focus,
#password-recover #email-recovery input:focus,
#register-space #register #email input:active,
#register-space #register #password input:active,
#password-recover #email-recovery input:active,
#register-space #register #email input:visited,
#register-space #register #password input:visited,
#password-recover #email-recovery input:visited, {
  border: 0px solid #282828;
  box-shadow: 0 0.5px 0 0 #282828;
  padding: 0px 0px 0px 5px;
  margin-top: 5px;
}
#register-space #register #password {
  margin-bottom: 20px;
}
#register-space #send {
  display: flex;
  align-items: center;
  justify-content: center;
}
#register-space #send button {
  height: 40px;
  border-radius: 40px;
  border: 2px solid #3476c3;
  background: transparent;
  color: #3476c3;
  margin-bottom: 10px;
  .gbTransition( 0.2s );
}
#register-space #send button:hover{
  background-color: #3476c3;
  color: #fff;
}
#register-space #forget-pass{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
#register-space #forget-pass a {
  color: #545454;
}
#register-space #forget-pass .chip {
  border: 2px solid #262626;
  background: transparent;
  height: 35px;
  .gbTransition( 0.3s );
}
#register-space #forget-pass .chip:hover {
  background: #262626;
}
#register-space #forget-pass .chip:hover a{
  color: #fff;
}
#register-form, #forget-pass{
  font-variant: small-caps;
}
#register-space #register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  a{
    font-size: 16px !important;
    color: #3dbf69;
  }
  .chip{
    border: 2px solid #3dbf69;
    background: transparent;
    height: 35px;
    .gbTransition( 0.3s );
  }
  .chip:hover{
    background: #3dbf69;
    a{
      color: #fff;
    }
  }
}
